body {
    background-color: #eee;
}

.mark-img-bord {
    width: 65px;
}

.mark-img {
    width: 50px;
    height: 60px;
}

.mark-text1 {
    color: #ffffff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-bottom: 0px;
}

.table tbody tr:hover {
    background: #f3bd48; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

.col3 li{
    display:block;
    float:left;
    width:30%;
}

.col4 li{
    display:block;
    float:left;
    width:24%;
}