body {
    background-color: #eee;
}

.mark-img-bord {
    width: 65px;
}

.mark-img {
    width: 50px;
    height: 60px;
}

.mark-text1 {
    color: #ffffff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-bottom: 0px;
}

.mark-text2 {
    color: #000000;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
    margin-bottom: 0px;
}

.table tbody tr:hover {
    background: #f3bd48; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}

.col3 li{
    display:block;
    float:left;
    width:33%;
}

.col4 li{
    display:block;
    float:left;
    width:24%;
}

.pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, с 1999 года*/
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    padding-left: 50px;
    padding-right: 50px;
}

.tb {
    border: 2px solid #acacac;
    border-radius: 10px;
    border-collapse: separate;
}

.p-center {
    margin-top: 5px;
}

.buttons1 {
    padding-left: 15px;
}
.error {
    color: red;
    font-size: 3rem;
    position: fixed;
    top: 45%;
    left: 25%;
    padding: 20px;
}